apturl
asn1crypto
Brlapi
certifi
chardet
click
command-not-found
cryptography
cupshelpers
cycler
defer
distro-info===0.18ubuntu0.18.04.1
enum34
Flask
httplib2
idna
ipaddress
itsdangerous
Jinja2
joblib
keyring
keyrings.alt
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
macaroonbakery
Mako
MarkupSafe
matplotlib
netifaces
numpy
oauth
olefile
pandas
pexpect
Pillow
protobuf
pycairo
pycrypto
pycups
pygobject
pymacaroons
pymongo
PyNaCl
pyparsing
pyRFC3339
python-apt==1.6.5+ubuntu0.2
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
scikit-learn
scipy
SecretStorage
simplejson
six
system-service
systemd-python
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
Werkzeug
xkit
zope.interface==4.3.2
